body {
    background-color: beige;
    margin-top: 50%;
}

.wrapper {
    text-align: center;
    
}

.text {
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
    top: 15px;
}

.button {
    padding: 15px 50px 15px 50px ;
}